# Python virtual environment
.venv/
venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment variables
.env

# Playwright artifacts
playwright-report/
test-results/
trace.zip

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Node
node_modules/

# Reports and screenshots
reports/
screenshots/

# IDE
.vscode/
.idea/