BASE_URL=https://root.fordata.ai
ROOT_EMAIL=datanextroot@betacodespk.com
ROOT_PASSWORD=datanext@26
ORG_HEAD_EMAIL_PREFIX=hira.khalid
ORG_HEAD_EMAIL_DOMAIN=betacodespk.com
ORG_HEAD_EMAIL_MIN_SUFFIX=1
ORG_HEAD_EMAIL_MAX_SUFFIX=99
ORG_HEAD_PASSWORD=Forbmax@23
HEADLESS=false
SLOW_MO=100
TIMEOUT_MS=15000
